.character_tiles {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  list-style: none;
}

@media (max-width: 760px) {
  .character_tiles {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    list-style: none;
  }
}
